# =============== #
# Unity generated #
# =============== #
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
[Tt]humbs.db
Desktop.ini

# ============= #
# Unity Package Manager Cache #
# ============= #
/[Pp]ackages/packages-lock.json

# =================== #
# Builds and Binaries #
# =================== #
*.apk
*.aab
*.unitypackage
*.app
*.exe
*.dll
*.so
*.dylib

# ========= #
# Crashlytics #
# ========= #
crashlytics-build.properties
fabric-build.properties

# ========== #
# VS Code #
# ========== #
.vscode/

# ========== #
# JetBrains Rider #
# ========== #
.idea/
*.iws
*.iml
*.ipr

# ========== #
# PlasticSCM #
# ========== #
*/[Pp]lastic[Ww]orkspace*